/* Products */
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #add8e6;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  width: 300px;
  transition: all 0.3s ease-in-out;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .product-container {
    /* width: calc(50% - 40px); */
    margin: 20px;
  }

  #day {
    display: none;
  }
}

.product-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-container h2 {
  margin: 0;
  font-size: 24px;
  text-align: center;
}

.product-container p {
  margin: 10px 0;
  text-align: center;
}

.product-container a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.product-container a:hover {
  color: #ddb892;
  text-decoration: underline;
}

.product-container button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.product-container button:hover {
  background-color: #add8e6;
}

.product-container:hover {
  background-color: #fa8072;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 20px;
  justify-content: center;
}

/* Modal */
.modal {
  position: fixed;
  padding: 0.5rem;
  top: 50%;
  left: 50%;
  translate: -50%, -50%;
  background-color: #fff;
  border-radius: 0.25rem;
  z-index: 10;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

[data-close-modal] {
  background-color: #ff0000;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-left: 16px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

[data-close-modal]:hover,
[data-close-modal]:focus {
  background-color: #ff0000;
}

#day {
  text-align: center;
  margin-left: 80px;
  color: white;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  padding-left: 10%;
  padding-right: 10%;
}

img {
  vertical-align: middle;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}