.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

/* Form Container */
.form-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.form-group input[type="submit"] {
    background-color: #ff0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #999;
    opacity: 1;
}

.form-group input[type="text"],
.form-group textarea {
    color: #ff0000;
    background-color: #f8f8f8;
}

.form-group input[type="text"]:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #ff0000;
}

.form-group input[type="text"]:hover,
.form-group textarea:hover {
    border-color: #ff0000;
}

.form-group label {
    color: #ff0000;
    font-weight: bold;
}

/* Social Container */
.social-container {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
}

.text h3 a {
    color: #000000;
}

.image {
    padding: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}